<h1 class = "heading_1">All the posts</h1>


<div class="posts">
<% @posts.each do |post| %>
    <div class="post">
  <% if user_signed_in? %>

<h3 class="user">Post created by <%= post.user.name%></h3>

  <% end %>


<p><%= post.body%></p> 
<span><%= post.created_at%></span>
</div>



<% end %>
</div>