<h1 class = "heading_1">All the posts</h1>


<div class="posts">
<% @posts.each do |post| %>
    <div class="post">
    <h3 class="user">Post created  <%= post_authot(post) %></h3>
     <p>
      <%= postul(post)%>
     </p> 
     <span><%= post.created_at%></span>
      </div>

<% end %>
</div>