 <div class="log_btns">
 
 <% if user_signed_in? %>

  <%= link_to  "Logout", destroy_user_session_path , method: :delete ,class: 'btn login-out '  %>
 
  <% else %>

  <%= link_to  "Login", user_session_path, class: 'btn login-out ' %>
 
   <%= link_to  "Register", new_user_registration_path,  class: 'btn login-out '  %>
  <%end%>

  </div>