 <% if user_signed_in? %>

  <%= link_to  "Logout", destroy_user_session_path , method: :delete %>
 
  <% else %>

  <%= link_to  "Login", user_session_path, class: 'login' %>
  
  <p>or</p>
   <%= link_to  "Register", new_user_registration_path,  class: 'logout'  %>
  <%end%>